.container {
  height: 100vh;
}

#level {
  position: relative;
  height: 60vh;
  width: 100vw;
  background: rgb(177, 148, 38);
  background: radial-gradient(
    circle,
    rgba(177, 148, 38, 1) 0%,
    rgba(215, 180, 45, 1) 57%,
    rgba(177, 148, 38, 1) 100%
  );
  border: rgb(69, 67, 67) solid 10px;
  border-radius: 5px;
}
